step-functions-bedrock.json
{
  "Comment": "Processa mensagens de chat do DynamoDB com Amazon Bedrock e histórico truncado.",
  "StartAt": "ObterMensagens",
  "TimeoutSeconds": 3600,
  "States": {
    "ObterMensagens": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ObterMensagensDynamoDB",
        "Payload": {
          "TableName": "<NOME_DA_TABELA_DYNAMODB>" 
        }
      },
      "ResultPath": "$.Mensagens",
      "Next": "ProcessarMensagens"
    },
    "ProcessarMensagens": {
      "Type": "Map",
      "ItemsPath": "$.Mensagens",
      "Iterator": {
        "StartAt": "InicializarContexto",
        "States": {
          "InicializarContexto": {
            "Type": "Pass",
            "Result": {
              "Historico": ""
            },
            "ResultPath": "$.Contexto",
            "Next": "ProcessarMensagem"
          },
          "ProcessarMensagem": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "ProcessarMensagemIndividual",
              "Payload": {
                "Mensagem": "$.Item",
                "Contexto": "$.Contexto",
                "ModelId": "cohere.command-text-v14",
                "MaxTokens": 250,
                "MaxLength": 2000
              }
            },
            "ResultSelector": {
              "Contexto.$": "$.Payload.Contexto"
            },
            "ResultPath": "$.Contexto",
            "Next": "FimProcessamento"
          },
          "FimProcessamento": {
            "Type": "Pass",
            "End": true
          }
        }
      },
      "Next": "FimProcessamentoMensagens"
    },
    "FimProcessamentoMensagens": {
      "Type": "Succeed"
    }
  }
}
